<p>Здравствуйте!</p>

<p>Ваш доступ к партнерскому порталу компании Тринити был ограничен.</p>

<p>Причина: {{reason}}</p>

<p>Для восстановления доступа свяжитесь с администратором вашей компании: {{companyAdmins}}</p>

<p>
  С уважением,<br>
  Команда Тринити
</p>
